@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
.topBg{
    background: linear-gradient(180deg,#F3FFF4 0%,#F3F7FF 100%);
    
}
.buttonBg{
    background: linear-gradient(101deg,#967BBE -15.3%,#BD80BE 28.24%,#76B9A5 87.96%,#7BA7FE 119.58%);
}
.AItext{
    background: linear-gradient(90deg,#8AEDAD 0%,#B58BF3 42.83%,#F9A4B3 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.custom-loader {
    width:50px;
    height:50px;
    border-radius:50%;
    background:conic-gradient(#0000 10%,#766DF4);
    -webkit-mask:radial-gradient(farthest-side,#0000 calc(100% - 8px),#000 0);
    animation:s3 1s infinite linear;
  }
  @keyframes s3 {to{transform: rotate(1turn)}}